{include file="public/head"}
<body>
<div class="x-body">
    <button class="layui-btn  layui-btn-small layui-btn-danger" onclick="delAll()">批量删除</button>
    <button class="layui-btn layui-btn-small "
            onclick="x_admin_shows('添加文章','addArticle.html','','',-5)"></i>添加文章</button>
    <button class="layui-btn layui-btn-small "
            onclick="x_admin_show('添加分类','Categoryinfo.html',500,410)"></i>分类详情</button>
    <button onclick="javascript:location.reload()" class="layui-btn layui-btn-small">刷新</button>
    <span class="x-right" style="line-height:40px">共有数据:<i class="i_count">{$lists|count='###'}</i>条</span>

    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>文章标题</th>
            <th>文章分类</th>
            <th>是否置顶</th>
            <th>是否推荐</th>
            <th>浏览量</th>
            <th>排序值</th>
            <th>审核状态</th>
            <th>添加时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </thead>
        <tbody>

        {volist name="lists" id="vo"}
        <tr>
            <td>
                <div class="layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$vo.id}</td>
            <td>{$vo.title}</td>
            <td>{$vo.cid}</td>
            <td>{if condition="$vo.is_top eq 1"}是{else/}否{/if}</td>
            <td>{if condition="$vo.is_recommend eq 1"}是{else/}否{/if}</td>
            <td>{$vo.views}</td>
            <td>{$vo.sort}</td>
            <td>{if condition="$vo.status eq 1"}通过{else/}禁止{/if}</td>
            <td>
                {$vo.create_time|date='Y-m-d H:i:s',###}
            </td>
            <td>
                {$vo.update_time|date='Y-m-d H:i:s',###}
            </td>
            <td>

                <button class="layui-btn layui-btn-mini" onclick="x_admin_show('编辑用户','edit.html?id={$vo.id}',500,410)">编辑</button>
                {if condition="!empty($vo._child)"} <button class="layui-btn layui-btn-mini" onclick="x_admin_show('查看下级分类','lists.html?id={$vo.id}',1600,800,30)">查看下级分类</button>{/if}
                <button onclick="delUser(this,{$vo.id})" class="layui-btn layui-btn-mini layui-btn-danger">删除</button>
            </td>
        </tr>
        {/volist}

        </tbody>
    </table>
    <div class="page">
        {$lists->render()}
        <div>
        </div>
    </div>
</div>
</body>
<script>

    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });


    /*用户-停用*/
    function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){
            if($(obj).attr('title')=='启用'){
                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

            }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
            }

        });
    }


    function delAll (argument) {
        var data = tableCheck.getData();
        layer.confirm('确认要全部删除吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }

    function delUser(obj,id){
        var count = $(".i_count")[0].innerText;
        layer.confirm('确认要删除吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            $.post("{:url('admin/user/deleteUser')}", {id: id}, function(data, textStatus, xhr) {
                /*optional stuff to do after success */
                console.log(data);
                if(data.code==1){
                    layer.msg(data.msg,{icon:1,time:1000},function(){
                        $(obj).parents('tr').remove();
                        $(".i_count").html(count-1);
                    });
                }else{
                    layer.msg(data.msg,{icon:2,time:1000});
                }

            });
        });
    }
</script>
{include file="public/foot"}